@model IEnumerable<OMSApp.Models.MarketingViewModel>
@*@using PagedList.Core;
@using PagedList.Core.Mvc;*@
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Lista de Productos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <br />
    <br />
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <legend>Criterios de búsqueda</legend>
        @Html.Label("buscar", "Cod/Nombre:")
        @Html.TextBox("buscar", null, null, new { @Class = "form-control" })
        <p></p>
        <input type="submit" value="Buscar" class="btn btn-primary" />
    }
    <hr />
    <p>
        <h3><a asp-action="Create" class="label label-default">Crear nuevo registro</a></h3>
    </p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageRef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransportType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpectacleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LodgingType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageRef)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransportType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpectacleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LodgingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />


</body>
</html>
